</body>
<footer>A project by <strong><a href="https://twitter.com/theonlylars">@theonlylars</a></strong>.

<p class="attribution">All trademarks are owned by their respective owners &copy; 2017 Bungie, Inc. Destiny, the Destiny Logo, Bungie, and the Bungie Logo are among the trademarks of Bungie, Inc. Published and distributed by Activision. Activision is a registered trademark of Activision Publishing, Inc
</p>
</footer>
</html>