<% include partials/header %>

<div class="container">
  <div class="jumbotron">
  <h1>Destiny Database Browser</h1>

  <p>A literal parsing and traversal of the bungie world asset database.</p>

  </div>

  <h2>Tables</h2>

  <div class="container">
    <% paths.forEach(function (path) { -%>
      <div class="item"><a href="/<%= path %>"><%= path.replace("Hash","") %></a></div>
    <% }); -%>
  </div>
  
</div>

<% include partials/footer %>