<% include partials/header %>

<div class="container">
  <div class="jumbotron">
  <h1>Destiny Database Browser</h1>
  <p>A literal parsing and traversal of the bungie world asset database. Similar to Bungie's <a href="https://www.bungie.net/en/Armory">Armory site</a>, but way uglier.</p>
  <p>The data backing this site is powered by the databases contained with the game manifests <strong><a href="https://bungie.net/platform/Destiny/Manifest/">found here</a></strong>. These databases provide definitions for game assets for use in specific applications interfacing with the Destiny API.</p>
  <p> In the case of this website, it is entirely powered by the asset database and therefore does not require logging in, API keys, or any user-provided data. Since this is the raw data from the database, you may run into entries that are clearly for test and not meant to be seen by anyone else. You will also run into "classified" items, which you must find in-game for yourself in order to know what they are.</p>
  </div>

  <h2>Tables</h2>

    <% descriptions.forEach(function (description) { -%>
      <div class="col-md-6">
        <div class="index-item well">
          <h2><a href="/<%= description.hashName %>"><%= description.hashName.replace("Hash","") %></a></h2>
          <p><%= description.description %></p>
        </div>
      </div>
    <% }); -%>
  
</div>

<% include partials/footer %>