<% include partials/header %>

<div class="container">
  <div class="jumbotron">
  <h1>Destiny Database Browser</h1>

  <p>A literal parsing and traversal of the bungie world asset database.</p>

  </div>

  <h2>Tables</h2>

    <% descriptions.forEach(function (description) { -%>
      <div class="col-md-6">
        <div class="index-item well">
          <h2><a href="/<%= description.hashName %>"><%= description.hashName.replace("Hash","") %></a></h2>
          <p><%= description.description %></p>
        </div>
      </div>
    <% }); -%>
  
</div>

<% include partials/footer %>